---
import "../styles/global.css";
import Navbar from "./Navbar.astro";
import Home from "./Home.astro";
import Work from "./Work.astro";
import Journey from "./Journey.astro";
import Pricing from "./Pricing.astro";
import Seller from "./Seller.astro";
import Contact from "./Contact.astro";
---

<main class="bg-background flex flex-col flex-auto w-full pt-4 px-4 font-inter">
  <Navbar />
  <Home />
  <Work />
  <Journey />
  <Pricing />
  <Seller />
  <Contact />
</main>
